name: Label / Add Production Label

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  add-production-label:
    runs-on: ubuntu-slim
    permissions:
      pull-requests: write
    
    steps:
      - name: Add production label if base is main
        if: github.event.pull_request.base.ref == 'main' && !contains(github.event.pull_request.labels.*.name, 'production')
        run: gh pr edit "$NUMBER" --add-label "production"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          NUMBER: ${{ github.event.pull_request.number }}
